<h4 mat-dialog-title>Join a Huddle</h4>
<div mat-dialog-content>
  <p>Which huddle would syou like to add {{data.user.firstname}} {{data.user.lastname}} to?</p>
	<mat-form-field>
	  <mat-select #hud placeholder="Huddle to join">
	    <mat-option *ngFor="let huddle of data.huddles" [value]="huddle.id">{{ huddle.title }}</mat-option>
	  </mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="{'huddle': hud.value, 'newMember': data.user}" tabindex="2">Join</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>