<h2>{{churchDetails.name}}'s Profile</h2>
<button (click)="edit()">Edit</button>
<div class="admin-details">
	<strong>Administrator:</strong>
	<p>{{churchDetails.adminfirstname}} {{churchDetails.adminlastname}}</p>
	<strong>Administrator Email:</strong>
	<p>{{churchDetails.adminemail}}</p>
</div>
<div class="church-details">
	<strong>Address:</strong>
	<p>{{churchDetails.street}}</p>
	<p>{{churchDetails.city}}, {{churchDetails.state}} {{churchDetails.zip}}</p>
</div>
<div>
	<strong>Gatherings:</strong>
	<p>TBD</p>
</div>