<agm-map [latitude]="lat" [zoom]="12" [longitude]="lng">
  <agm-marker *ngFor="let item of list" [latitude]="item.lat" [longitude]="item.lng">
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        <strong (click)="log($event)">{{item.label}}</strong>
        <a *ngIf="type === 'huddles'" (click)="routeToGathering()">Details!</a>
        <a *ngIf="type === 'churches'" (click)="viewChurchGatherings(item)">See huddles!</a>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map> 

